<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <div>
        <!--DISPLAY USER'S INFO-->
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <p><strong>Role</strong>: <%= user.role %></p>

        <!--Class Code-->
        <% if (user.role === "Teacher") { %>
        <p><strong>Class Code</strong>: <%= user.classCode %></p>
        <% } %>

        <!--Display Class Joined for students-->
        <% if (user.role === "Student") { %> <% if (user.classCode &&
        teacherName) { %>
        <p><strong>Class Joined</strong>: <%= user.classCode %></p>
        <p><strong>Teacher</strong>: <%= teacherName %></p>
        <% } else { %>

        <!--Join a Class Button-->
        <form action="/post/joinClass" method="POST">
          <div class="mb-3">
            <label for="joinClass" class="form-label">
              <strong>Join a Class:</strong>
            </label>
            <div class="input-group custom-input-group">
              <input
                type="text"
                class="form-control"
                id="joinClass"
                name="joinClass"
                placeholder="Enter Class Code"
              />
              <button type="submit" class="btn btn-primary">Join</button>
            </div>
          </div>
        </form>
        <% } %> <% } %>
        <!--LOGOUT-->
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
      </div>
      <!--ADD Tasks for Teachers-->
      <div class="mt-5">
        <% if (user.role === "Teacher") { %>
        <h2>Add A New Task</h2>
        <form
          action="/post/createTask"
          enctype="multipart/form-data"
          method="POST"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Topic:</label>
            <input type="text" class="form-control" id="title" name="title" />
          </div>
          <div class="mb-3">
            <label for="caption" class="form-label">Instructions:</label>
            <textarea
              class="form-control"
              id="caption"
              name="caption"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="imgUpload" class="form-label">File</label>
            <input
              type="file"
              class="form-control"
              id="imageUpload"
              name="file"
            />
          </div>
          <div class="mb-3">
            <label for="assign" class="form-label">Assign To:</label>
            <select class="form-control" id="assign" name="assign">
              <option value="" selected>-Select Student-</option>
              <% for (let i = 0; i < students.length; i++) { %>
              <option value="<%= students[i]._id %>">
                <%= students[i].lastName %> <%= students[i].firstName %>
              </option>
              <% } %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">
            Submit
          </button>
        </form>
        <% } %>
      </div>
    </div>

    <div class="col-6">
      <% if (isTeacher) { %>
      <h2>Students in My Class</h2>
      <ul class="row list-unstyled">
        <% for(var i = 0; i < students.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <a href="/profile/<%= students[i]._id %>">
            <img
              src="/public/imgs/userIcon.png"
              alt="User Icon"
              width="200"
              height="200"
            />
            <p><%= students[i].userName %></p>
          </a>
        </li>
        <% } %>
      </ul>
      <div class="row justify-content-center mt-5">
        <a class="btn btn-primary" href="/tasksFeed">See All Tasks</a>
      </div>
      <% } else { %>
      <!-- Display Tasks for students -->
      <ul class="row list-unstyled">
        <% for(var i = 0; i < posts.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <a href="/post/<%= posts[i]._id%>">
            <img class="img-fluid" src="<%= posts[i].image%>" />
          </a>
        </li>
        <% } %>
      </ul>
      <div class="row justify-content-center mt-5">
        <a class="btn btn-primary" href="/tasksFeed">All My Tasks</a>
      </div>
      <% } %>
      <!--Display Assigned Tasks for teachers-->
      <% if (isTeacher) { %>
      <ul class="row list-unstyled">
        <% for (var i = 0; i < assignedTasks.length; i++) { %>
        <li class="col-6 justify-content-between mt-5">
          <a href="/post/<%= assignedTasks[i]._id %>">
            <img class="img-fluid" src="<%= assignedTasks[i].image %>" />
          </a>
        </li>
        <% } %>
      </ul>
      <div class="row justify-content-center mt-5">
        <a class="btn btn-primary" href="/tasksFeed">See All Tasks</a>
      </div>
      <% } %>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
