<%- include('partials/header') -%>
<div class="container-fluid">
  <div class="row">
    <!--SideBar-->
    <%- include('partials/sidebarS') -%>

    <!--Main Content-->
    <main class="col-md-9 col-lg10-px-md-4 mt-4">
      <%- include('partials/navbarS') -%>
      <br />
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Display Tasks for students -->
            <div class="col-6">
              <h2>Asigned Tasks</h2>
              <ul class="row list-unstyled tasksDisplay">
                <% for (let i = 0; i < assignedTasks.length; i++) { %>
                <li class="col-6 justify-content-between mt-5">
                  <a href="/post/<%= assignedTasks[i]._id %>">
                    <img
                      class="img-fluid"
                      src="<%= assignedTasks[i].image %>"
                      alt="Task Image"
                    />
                  </a>
                  <p><strong>Assigned by: </strong><%= teacherName %></p>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<%- include('partials/footer') -%>
